.checkbox-button {
    position: relative;
    cursor: pointer;
}

.checkbox-button__input {
    position: absolute;
    visibility: hidden;

    &:checked {
        & + .checkbox-button__btn {
            background-color: $pink;
        }
    }
}

.checkbox-button__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 0 15px;
    font-size: 13px;
    color: #303030;
    background-color: #e7e7e7;
    border-radius: 17px;
    cursor: pointer;
    &:hover {
        background-color: $pink;
    }
    
}