.footer {
    height: 130px;
    background-color: $bg;
}

.footer__container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        border-top: 1px solid #353637;
    }
}