.input {
    width: 100%;
    border: 0px;
    height: 62px;
    border-radius: 4px;
    color: #1a1b1e;
    font-size: 18px;
    padding: 0 28px;
    background-color: #fff;
    font-family: $open-sans;

    &::placeholder {
        color: #666666;
    }
}

