.news-stocks-section {
    padding-bottom: 50px;
    padding-top: 100px;
}

.news-stocks-section__title {
    margin-bottom: 48px;
}

.news-stocks-section__list {
    display: flex;
    align-items: stretch;
    margin: 0 -15px 50px;
}

.news-stocks-section__elem {
    display: flex;
    flex: 1;
    padding:  0 15px;
}