.news-stocks-elem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 390px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    background-color: $black;
    padding: 34px 22px 25px 31px;
}

.news-stocks-elem__date {
    color: #fff;
    font-size: 14px;
    margin-bottom: 13px;
}

.news-stocks-elem__title {
    color: #fff;
    font-family: $open-sans-bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.news-stocks-elem__text {
    color: #fff;
}

