.offers-block {
    background-color: #fff;
    border-radius: 6px;
    padding: 28px 23px;
    border: 7px solid #fff;
    min-height: 476px;

    &:hover {
        border: 7px solid $gray-light;
    }
}

.offers-block__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;

    img {
        display: block;
        max-width: 80px;
        min-height: 80px;
    }
}

.offers-block__title {
    font-family: $open-sans-bold;
    font-size: 30px;
    margin-bottom: 25px;
}

.offers-block__info {
    display: flex;
    margin-bottom: 28px;
}

.offers-block__info-block {
    flex: 1;
    color:$gray;

    span {
        color: #000;
        font-family: $open-sans-bold;
    }
}

.offers-block__text {
    font-size: 14px;
    color:$gray;
    min-height: 86px;
    margin-bottom: 10px;
}