.textarea {
    width: 100%;
    border: 0px;
    height: 230px;
    border-radius: 4px;
    color: #1a1b1e;
    font-size: 18px;
    padding: 25px 29px;
    background-color: #fff;
    resize: none;
    font-family: $open-sans;

    &::placeholder {
        color: #666666;
    }
}