$bg: #17191a;
$black: #1e1f20;
$orange: #ff5400;
$red: #ff3c00;
$gray: #666666;
$gray-light: #cbcbcb;
$gray-white: #f4f5f5;
$breadcrumbs: #9a9a9a;
$blue: #2e77a4;
$pink: #f2d3c8;

$open-sans: 'OpenSans-Regular', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$open-sans-bold: 'OpenSans-Bold', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$open-sans-semibold: 'OpenSans-SemiBold', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;